.vscode/
/lib

/src/CSharp/ColecticaSdkMvc/bin
/src/CSharp/ColecticaSdkMvc/obj/Debug

/src/CSharp/ColecticaSdkSamples/bin/Debug

/src/CSharp/ColecticaSdkSamples/obj/x86/Debug
/src/CSharp/ColecticaSdkMvc/ColecticaSdkMvc.csproj.user
/src/ColecticaSdkSamples.v11.suo
/src/ColecticaSdkSamples.v12.suo
/src/.vs
/src/packages/ColecticaSDK*
/.vs
/src/packages
obj/
bin/
/src/CSharp/ColecticaSdkSamples/lib
src/Python/.vscode/launch.json
