<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColecticaSDKPlusSPSS" version="6.0.7653" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.4.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net472" />
</packages>